<div class="center hero-unit">
    <h1><%= image_tag("pulsedinlogo8.gif", :alt => "Pulsed In") %></h1>
    <p>Better way to manage your healthcare career
     </p>

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>

